.jumbotron {
    text-align: center;
    background-color: #008fa8ad;
    color: white;
}

#submission-form {
    margin-bottom: 30px;
}

.btn {
    color: white;
    background-color: #008fa8ad;
    border-color: #008fa8ad;
}

td[contenteditable=true] {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #0077ff8c;
}