.jumbotron {
    text-align: center;
    background-color: #008fa8ad;
    color: white;
}

#submission-form {
    margin-bottom: 30px;
}

.btn {
    color: white;
    background-color: #008fa8ad;
    border-color: #008fa8ad;
}

/* td[contenteditable=true] {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
} */