body, html {
  height: 100%;
}

.jumbotron {
    text-align: center;
    color: white;
    text-shadow: 2px 2px #000000;
    background-image: url("../images/150168cropped.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#submission-form {
    margin-bottom: 30px;
}

.btn {
    color: white;
    background-color: #008fa8ad;
    border-color: #008fa8ad;
}

td[contenteditable=true] {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #0077ff8c;
}

.panel-div {
    border: 1px solid #008fa8;
    border-radius: 7px;
    padding-left: 0;
    padding-right: 0;
}

.panel-div:last-of-type {
    margin-top: 20px;
}

.panel-header {
    background-color: #008fa8ad;
    color: #fff;
    border-radius: 7px 7px 0 0;
    margin-bottom: 0;
}

.panel-title {
    margin-left: 10px;
    padding: 5px;
}

.form-group {
    margin-left: 15px;
    margin-right: 15px;
}

#submit-train {
    margin-left: 15px;
    margin-bottom: 10px;
}

#submission-header {
    margin-bottom: 10px;
}

#train-schedule-title {
    margin-bottom: 0;
}